*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(sb.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

header
{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
    color: #fdfdfd;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-start;

}

.white
{
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

header .navigation a
{
    color: #fefeff;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 2px 15px;
    border-radius: 50px;
    transition: 0.3s;
    font-size: 20px;
}

header .navigation a:not(:last-child)
{
    margin-right: 30px;
    margin-bottom: 40px;
}

header .navigation a:hover
{
    background: #50c52c;
}

.content
{
   max-width: 650px;
   margin: 60px 100px; 
}

.content .info h2
{
    color: red;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span
{
    color:#ffffff;
    font-size: 50px;
    font-weight: 600;
}

.content .info p
{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn
{
    color: #fff;
    background: #00008b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition-property: background;
}

.content .info-btn:hover
{
    background: #0c4f60;

}

.media-icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a
{
    position: relative;
    color: #111;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child)
{
    margin-right: 60px;
}

.media-icons a:hover
{
    transform: scale(1.5);
}

